---
import Base from "../layouts/Base.astro";

const techArticles: { imgUrl: string; heading_4: string; skill: number }[] = [
  {
    imgUrl:
      "https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-256.png",
    heading_4: "React",
    skill: 40,
  },
  {
    imgUrl:
      "https://cdn3.iconfinder.com/data/icons/teenyicons-outline-vol-3/15/typescript-256.png",
    heading_4: "TypeScript",
    skill: 15,
  },
  {
    imgUrl:
      "https://cdn2.iconfinder.com/data/icons/designer-skills/128/code-programming-javascript-software-develop-command-language-256.png",
    heading_4: "JavaScript",
    skill: 50,
  },
  {
    imgUrl:
      "https://cdn2.iconfinder.com/data/icons/boxicons-logos/24/bxl-nodejs-256.png",
    heading_4: "NodeJS",
    skill: 15,
  },
  {
    imgUrl:
      "https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/php-256.png",
    heading_4: "PHP",
    skill: 15,
  },
];

const tools: { imgUrl: string; heading_4: string }[] = [
  {
    imgUrl:
      "https://cdn3.iconfinder.com/data/icons/teenyicons-solid-vol-3/15/tailwind-256.png",
    heading_4: "Tailwind",
  },
  {
    imgUrl:
      "https://cdn1.iconfinder.com/data/icons/bootstrap-fill-vol-1/16/bootstrap-fill-64.png",
    heading_4: "BootStrap",
  },
  {
    imgUrl:
      "https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/71-github-256.png",
    heading_4: "GitHub",
  },
  {
    imgUrl:
      "https://cdn1.iconfinder.com/data/icons/ionicons-fill-vol-2/512/logo-vercel-256.png",
    heading_4: "Vercel",
  },
  {
    imgUrl:
      "https://cdn2.iconfinder.com/data/icons/flat-seo-web-ikooni/128/flat_seo-13-256.png",
    heading_4: "Responsive",
  },
  {
    imgUrl:
      "https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/288_Sass_logo-256.png",
    heading_4: "Sass",
  },
  {
    imgUrl:
      "https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-css-3-256.png",
    heading_4: "Css",
  },
  {
    imgUrl:
      "https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-html-5-256.png",
    heading_4: "Html",
  },
];

const graphic: { imgUrl: string; heading_4: string }[] = [
  {
    imgUrl:
      "https://cdn4.iconfinder.com/data/icons/bloomies-webdesign-tools/25/Figma_square-256.png",
    heading_4: "Figma",
  },
  {
    imgUrl:
      "https://cdn3.iconfinder.com/data/icons/logos-brands-3/24/logo_brand_brands_logos_adobe_photoshop-256.png",
    heading_4: "PhotoShop",
  },
  {
    imgUrl:
      "https://cdn1.iconfinder.com/data/icons/Futurosoft%20Icons%200.5.2/128x128/apps/gimp2_0.png",
    heading_4: "GIMP",
  },
];
---

<Base title="About Me">

  <section class=" section section 2xl:content-center text-center bg-indigo-600 text-blue-300  sm:py-0 ">
    <div>
      <h2 class="text-3xl md:text-5xl font-bold">Tech Stack</h2>
    <h2 class="aboutHeading font-bold">Programming</h2>
    </div>
    <div class="md:w-[800px] xl:w-[1024px] flex flex-wrap mt-[7%]">
      {
        techArticles.map((article) => (
          <article class="articleCover flex flex-col items-center w-[50%]  sm:my-10 hide">
            <img class="w-[20vw] sm:w-[100px] xl:w-[200px]" src={article.imgUrl} alt="" />
            <h4 class=" text-xl font-bold">{article.heading_4}</h4>
            <progress
              class="w-[50%] bg-indigo-50 border-4 border-blue-300 rounded-full"
              id="file"
              value={article.skill}
              max="100"
            >
              32%
            </progress>
          </article>
        ))
      }
    </div>
  </section>

  <section
    class="section hide grid place-items-center content-around sm:content-center text-blue-600"
  >
    <h2 class="aboutHeading">Languages</h2>

    <div class="h-full logos grid  md:grid-cols-3 sm:gap-6 md:gap-14">
      <div class="logo_Hide my-8">
        <img
          class="w-[20vw] sm:w-[100px] m-auto"
          src="https://cdn2.iconfinder.com/data/icons/world-flags-1-1/100/Britain-256.png"
          alt=""
        />
        <progress
          class="bg-indigo-50 border-4 border-blue-300 rounded-full"
          id="file"
          value="52"
          max="100"></progress>
      </div>

      <div class="logo_Hide my-8">
        <img
          class="w-[20vw] sm:w-[100px] m-auto"
          src="https://cdn1.iconfinder.com/data/icons/flags-of-the-world-2/128/germany-circle-256.png"
        />
        <progress
          class="bg-indigo-50 border-4 border-blue-300 rounded-full"
          id="file"
          value="52"
          max="100"></progress>
      </div>
      <div class="logo_Hide my-8">
        <img
          class="w-[20vw] sm:w-[100px] m-auto"
          src="https://cdn0.iconfinder.com/data/icons/world-flags-1/100/Czech-2-256.png"
          alt=""
        />
        <progress
          class="bg-indigo-50 border-4 border-blue-300 rounded-full"
          id="file"
          value="92"
          max="100"></progress>
      </div>
    </div>
  </section>

  <section class="section hide text-center bg-purple-600 text-violet-100 grid place-items-center content-around">
    <div class=" w-full lg:max-w-[1440px] xl:max-w-[1980px] md:m-auto">
      <h2 class="text-5xl sm:text-8xl md:pb-8">Tools</h2>
      <div class="flex flex-wrap justify-between ">
        {
          tools.map((article) => (
            <article class="flex flex-col items-center justify-around my-2  w-[50%] sm:w-[30%] xl:w-[25%]  hide border-8 border-red-500 ">
              <img class="w-[20vw] sm:w-[100px] 2xl:w-[200px]" src={article.imgUrl} alt="" />
              <h4 class="aboutHeading">{article.heading_4}</h4>
            </article>
          ))
        }
      </div>
    </div>
  </section>

  <section class="section hide text-center bg-yellow-400 font-bold grid place-items-center content-center">
    <div class="md:max-w-[1000px] md:m-auto grid place-items-center content-center">
      <h2 class="text-5xl xl:text-8xl">Graphic editors</h2>
      <div class="flex flex-wrap justify-between">
        {
          graphic.map((article) => (
            <article class="flex flex-col items-center w-[50%] my-10 hide last:w-full">
              <img class="w-20 xl:w-40" src={article.imgUrl} alt="" />
              <h4 class="aboutHeading">{article.heading_4}</h4>
            </article>
          ))
        }
      </div>
    </div>
  </section>
 
</Base>

<style>

  .articleCover:nth-child(3) {
    width: 100%;
  }
</style>
