---
import type { Hero } from "../types";

const textHero: Hero[] = [
  {
    heading2: "Information Portal about",
    heading1: "Morbus Tschengi",
    heading2_b: "also known as",
    blick: "White Plague / Disease",
    heading4: "@discovered by Karel Capek 1937",
    heading2_c: "Symptoms",
  },
];
---

<section
  class="heroSection heroDefault w-full flex justify-between lg:justify-around items-center px-2 lg:px-10"
>
  {
    textHero.map((item) => (
      <div class="flex text-3xl heroText lg:w-full">
        <article>
          <h2 class="pb-2">{item.heading2}</h2>
          <h1 class="pb-2 blickAnimation text-8xl flex-nowrap">
            {item.heading1}{" "}
          </h1>
          <h2 class="indent-4 p-2">
            {item.heading2_b} <span class="blickAnimation">{item.blick}</span>
          </h2>
          <h4 class="indent-4">{item.heading4}</h4>
          <div class="h-[100px] animSpan">
            <h2 class="indent-4">
              <a href="#sections" class="hover:text-red-800">
                {" "}
                <span>&#9759;</span>
                {item.heading2_c}
                <span>&#9759;</span>
              </a>
            </h2>
          </div>
        </article>
        <aside class="verticalHero text-8xl text-white">
          <h4>PLAGUE</h4>
        </aside>
      </div>
    ))
  }

  <div class="heroImage max-h-[500px]">
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwebstockreview.net%2Fimages%2Fzombie-clipart-zombie-word-18.png&f=1&nofb=1&ipt=b11b998aa0eae5223d940e45af61a176394248ef1371ed910ea0ec76bc5b374a&ipo=images"
      alt=""
    />
  </div>
</section>

<script>
  //Select Hero Section & Hero Image
  const heroImage = document.querySelector(".heroImage") as HTMLElement;
  const heroSection = document.querySelector(".heroSection") as HTMLElement;

  // Image MouseIn and MouseOut events are changing hero section background and fonts color
  const mouseIn = () => {
    heroSection.classList.remove("heroDefault");
    heroSection.classList.add("heroScary");
  };

  const mouseOut = () => {
    heroSection.classList.remove("heroScary");
    heroSection.classList.add("heroDefault");
  };
  heroImage?.addEventListener("mouseover", mouseIn);
  heroImage?.addEventListener("mouseout", mouseOut);
</script>

<style>
  .border {
    border: 1px solid red;
  }

  /*Plague hero TEXT */
  .verticalHero {
    writing-mode: vertical-lr;
  }
  .heroSection {
    height: var(--height);
    transition: 2s ease-in-out;
    font-family: "Creepster", cursive;
  }

  .heroDefault .heroImage img {
    transform: rotateY(0deg);
    transition: 3s;
  }

  .heroScary .heroImage img {
    transform: rotateY(180deg);
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: 2s ease-in-out;
  }

  .heroDefault .animSpan {
    animation: upDown 2s linear infinite;
  }
  .heroDefault .blickAnimation {
    animation: blick 10s linear infinite;
  }
  /* Blick animation for black/scary section */
  .heroScary .heroText .blickAnimation {
    animation: blickBlack 1x linear infinite;
  }
  .heroScary {
    background: black;
    transition: 2s ease;
  }

  .heroScary .heroText .blickAnimation {
    color: red;
    animation: show 8s ease;
    opacity: 100;
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }

  @keyframes upDown {
    0% {
      padding-top: 0px;
    }

    50% {
      padding-top: 20px;
    }
  }

  @keyframes blick {
    0% {
      color: black;
    }
    95% {
      opacity: 100;
      color: black;
    }
    96% {
      opacity: 0;
      color: red;
    }
    97% {
      opacity: 100;
    }
    100% {
      opacity: 0;
      color: red;
    }
  }

  @keyframes blickBlack {
    0% {
      color: rgb(253, 0, 0);
    }
    95% {
      opacity: 100;
      color: black;
    }
    96% {
      opacity: 0;
      color: red;
    }
    97% {
      opacity: 100;
    }
    100% {
      opacity: 0;
      color: red;
    }
  }

  @media screen and (max-width: 1310px) {
    .heroText {
      font-size: 2rem;
    }
    .heroText h1 {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1152px) {
    .heroText {
      font-size: 1.5rem;
    }
    .heroText h1 {
      font-size: 4rem;
    }
  }
  @media screen and (max-width: 1025px) {
    .heroSection .heroImage {
      width: 40vw;
    }
    .heroText h1 {
      font-size: 3rem;
    }
  }

  @media screen and (max-width: 750px) {
    .heroSection{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .heroSection .heroText{
      margin-top: 2rem;
      margin-left: 3em;
    }
    
    .heroSection .heroImage {
      width: 60vw;
    }
    .heroText h1 {
      font-size: 3.5rem;
    }
  }
  @media screen and (max-width: 565px) {
    .heroSection .heroText{
      margin-left: 0;
    }
    .verticalHero {
      display: none;
    }
  }
  @media screen and (max-height: 730px) {
    .heroSection {
      height: auto;
      min-height: 100vh;
      padding: 10vh 0;
    }
  }
</style>
