---
import type { Hero } from "../types";

const textHero: Hero[] = [
  {
    heading2: "Information Portal about",
    heading1: "Morbus Tschengi",
    heading2_b: "also known as",
    blick: "White Disease",
    heading4: "@discovered by Karel Capek 1937",
    heading2_c: "Symptoms",
  },
];
---

<section
  class="heroSection heroDefault flex justify-around items-center mainPage"
>
  {
    textHero.map((item) => (
      <div class="text-3xl heroText">
        <h2 class="pb-2">{item.heading2}</h2>
        <h1 class="pb-2 blickAnimation text-8xl">{item.heading1} </h1>
        <h2 class="indent-4 p-2">
          {item.heading2_b} <span class="blickAnimation">{item.blick}</span>
        </h2>
        <h4 class="indent-4">{item.heading4}</h4>
        <div class="h-[100px] animSpan">
          <h2 class="indent-4">
            <a href="#sections" class="hover:text-red-800">
              {" "}
              <span>&#9759;</span>
              {item.heading2_c}
              <span>&#9759;</span>
            </a>
          </h2>
        </div>
      </div>
    ))
  }

  <div class="heroImage">
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwebstockreview.net%2Fimages%2Fzombie-clipart-zombie-word-18.png&f=1&nofb=1&ipt=b11b998aa0eae5223d940e45af61a176394248ef1371ed910ea0ec76bc5b374a&ipo=images"
      alt=""
    />
  </div>
</section>

<script>
  const heroImage = document.querySelector(".heroImage") as HTMLElement;
  const heroSection = document.querySelector(".heroSection") as HTMLElement;


  const mouseIn = () => {
    heroSection.classList.remove("heroDefault");
    heroSection.classList.add("heroScary");
  };

  const mouseOut = () => {
    heroSection.classList.remove("heroScary");
    heroSection.classList.add("heroDefault");
   
  };
  heroImage?.addEventListener("mouseover", mouseIn);
  heroImage?.addEventListener("mouseout", mouseOut);
</script>

<style>
  .border {
    border: 1px solid red;
  }

  .heroSection {
    width: 100vw;
    max-width: 1920px;
    height: calc(100vh - 60px);
    transition: 2s ease-in-out;
    font-family: "Creepster", cursive;
  }

  .heroDefault .heroImage img {
    transform: rotateY(0deg);
    transition: 3s;
  }
  .heroScary {
    background: black;
    transition: 2s ease-in;
    
  }
  .heroScary .heroImage img {
    transform: rotateY(180deg);
    -webkit-filter: invert(100%);
    filter: invert(100%);
    transition: 2s ease-in-out;
  }

  .heroText {
    transition: 6s ease-in-out;
  }
  .heroScary .heroText .blickAnimation
  {
    color:red;
    animation: show 8s ease;
    opacity: 0;
  }
  @keyframes show{
    from{opacity:0;}
    to{opacity:100}
  }
  .mainPage div img {
    width: 500px;
    height: 500px;
  }

  @keyframes upDown {
    0% {
      padding-top: 0px;
    }

    50% {
      padding-top: 20px;
    }
  }

  @keyframes blick {
    0% {
      color: black;
    }
    95% {
      opacity: 100;
      color: black;
    }
    96% {
      opacity: 0;
      color: red;
    }
    97% {
      opacity: 100;
    }
    100% {
      opacity: 0;
      color: red;
    }
  }
  .heroDefault .animSpan {
    animation: upDown 2s linear infinite;
  }
  .heroDefault .blickAnimation {
    animation: blick 10s linear infinite;
  }

</style>
